@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Google Sans', sans-serif;
    overflow-x: hidden;
  }
 
  @layer utilities {
    .bg-ellipse {
      background: #2f7ad2;
      border-radius: 500px;
      box-shadow: -1px 0px 28px 153px #0775f7
    }
  }

  @layer slick-dots {
    .slick-dots {
      @apply text-center; 
  }
  @screen lg {
      .slick-dots {
          @apply !text-left; 
      }
    }
  
    .slick-dots li button:before {
      font-size: 10px;
      color: #005bb5;
    }
  }
  @layer components {
    .slick-slide {
        @apply flex justify-center items-center;
    }

    .slick-track {
        @apply flex items-center;
    }

    .slick-list {
        @apply overflow-hidden;
    }

    .custom-arrow {
        z-index: 10;
    }

    .custom-prev-arrow {
        @apply absolute;
        top: 25%;
    }

    .custom-next-arrow {
        @apply absolute;
        top: 75%;
    }
}